= form_for @transaction do |f|
  -if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label :name
    .input= f.text_field :name
  .clearfix
    = f.label :description
    .input= f.text_area :description
  .clearfix
    = f.label :amount
    .input= f.text_field :amount
  .clearfix
    = f.label :source_id, "Source"
    .input= f.collection_select :source_id, Account.all, :id, :name, prompt: "-Income-"
  .clearfix
    = f.label :destination_id, "Destination"
    .input= f.collection_select :destination_id, Account.all, :id, :name, prompt: "-Expense-"
  .clearfix
    = f.label :executed_at
    .input= f.datetime_select :executed_at
  .clearfix
    = f.label :category_id, "Category"
    .input= f.collection_select :category_id, Category.all, :id, :name
  .actions
    = f.submit 'Save'
